/build/
/node_modules/
/vendor/

# Composer
composer.lock

# wp-env
.wp-env.override.json
.env.testing 
.env.*


# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs / coverage
*.log
/coverage/
.phpunit.cache/
.phpunit.result.cache

# Build artifacts
*.zip
wp-assets/
