<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	cacheResultFile=".phpunit.result.cache"
	executionOrder="depends,defects"
	failOnWarning="true"
	failOnRisky="true"
>
	<testsuites>
		<testsuite name="block-when">
			<directory prefix="test_" suffix=".php">tests/phpunit</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">includes</directory>
		</include>
	</coverage>
</phpunit>
